* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

#container {
 /* display: flex;
  justify-content: center;
  align-items: center;*/
  padding-top:200px;
  height: 100vh;
  background: radial-gradient(
    circle at -4% -12.9%,
    rgb(74, 98, 110) 0.3%,
    rgb(30, 33, 48) 90.2%
  );
}

.heading {
  color: #000;
  background-color: #fff;
  padding-bottom: 1px;
  border-radius: 25px;
  padding-left:20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 width: 20%;

 
}

.weather {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 1px;
  border-radius: 25px;
  text-align: center;
}


.todo {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 1px;
  border-radius: 25px;
  text-align: center;
}

.links {
  color: #fff;
padding-bottom: 1px;
  border-radius: 25px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  list-style: none;
 width: 30%
}


a {
  color: #fff;
  text-decoration:none;
}



.footer {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 1px;
  padding-top: 150px;
  border-radius: 25px;
  text-align: center;
  font-size:10px;
  width: 99%;
 

}







